<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>

    <httpPlatform processPath="gunicorn" arguments="brit.wsgi:application --bind=0.0.0.0:8000 --timeout 600" startupTimeLimit="60" />

  </system.webServer>
</configuration>
